@model Web.Model.Asignatura

@{
    ViewBag.Title = "Agregar notar";
}

<h2>Edicion de Notas</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Asignatura</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.CodigoMateria, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.CodigoMateria)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Materia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Materia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AlumnoCedula, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.AlumnoCedula)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alumno, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Alumno)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProfesorCedula, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ProfesorCedula)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Profesor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Profesor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NotaTareas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NotaTareas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NotaTareas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NotaExamen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NotaExamen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NotaExamen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Evaluaciones", "Evaluacion")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
